//grids
$grid-columns: 12
$grid-gutter-width: 10px
$grid-float-breakpoint: 768px
$screen-xs: 480px
$screen-sm: 768px
$screen-md: 992px
$screen-lg: 1200px
$radius: 0.3rem

//Typography
$text_font_family: 'Lato', -apple-system, BlinkMacSystemFont,  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default
$h-font-family: 'Montserrat', sans-serif
$grigo-icons: 'icomoon'
// $text_font_family: 'Hind', sans-serif
//fluid-type
// $min_width: 480px
// $max_width: 1200px
// $min_font: 16px
// $max_font: 24px
$baseline: 1.5rem

$min_width: 20rem
$max_width: 50rem
$min_font: .8rem
$max_font: 1.5rem

$h1: 3rem
$h2: 1.5rem
$h3: 1.25rem
$h4: 1rem
$h5: .875rem

//transition variabiles
$default-transition-property : all
$default-transition-duration : 0.3s
$default-transition-function : ease-in-out
$default-transition-delay    : false
//Colors
$back-link-button: rgba(8,65,92,1)
$back-full-text: #fff

$allert: #912306
$positive: #062A3B
$link-back-full: rgba(32,124,168,1)
$long-text: #29353B
$warning: rgba(254, 235, 147, 1)
$success: rgba(0, 200, 0, 1)
$alpha: 0.30
//gradient background
$default-gradient: linear-gradient(330deg, #fff, shade(#fff, 4%))
$primary-gradient: linear-gradient(330deg, $back-link-button, $link-back-full)
$secondary-gradient: linear-gradient(40deg, $link-back-full, tint($link-back-full, 25%))
$success-gradient: linear-gradient(40deg, $success, tint($success, 25%))
$allert-gradient: linear-gradient(40deg, $allert, tint($allert, 25%))
$warning-gradient: linear-gradient(40deg, $warning, tint($warning, 25%))
$long-text-gradient: linear-gradient(40deg, $long-text, tint($long-text, 10%))

$brand-primary: #08415c
$testo: #29353B
$background: #ffffff

// prova