//grids
$grid-columns: 12
$grid-gutter-width: 10px
$grid-float-breakpoint: 768px
$screen-xs: 480px
$screen-sm: 768px
$screen-md: 992px
$screen-lg: 1200px
$radius: 0.3rem

//Typography
$text_font_family: 'Lato', -apple-system, BlinkMacSystemFont,  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default
$h-font-family: 'Montserrat', sans-serif
$grigo-icons: 'icomoon'
// $text_font_family: 'Hind', sans-serif
//fluid-type
// $min_width: 480px
// $max_width: 1200px
// $min_font: 16px
// $max_font: 24px
$baseline: 1.5rem

$min_width: 20rem
$max_width: 50rem
$min_font: .8rem
$max_font: 1.5rem

$h1: 3rem
$h2: 1.5rem
$h3: 1.25rem
$h4: 1rem
$h5: .875rem
$radius: .3rem
//style box
=style_box
	+border-radius($radius)
	+box-shadow(0 3px 7px rgba(0, 0, 0, .4))
=button_box
	+border-radius($radius)
	+box-shadow(0 2px 5px rgba(0, 0, 0, .3))
	&:active
		+box-shadow(inset 0 0 2px rgba(0, 0, 0, .3))

//transition variabiles
$default-transition-property : all
$default-transition-duration : 0.3s
$default-transition-function : ease-in-out
$default-transition-delay    : false
//Colors
$back-link-button: #08415c
$back-full-text: #fff

$allert: #912306
$positive: #062A3B
$link-back-full: #207ca8
$long-text: #29353B
$warning: #feeb93
$success: #00c800
$alpha: 0.30
//gradient background
$default-gradient: linear-gradient(330deg, #fff, shade(#fff, 4%))
$primary-gradient: linear-gradient(330deg, $back-link-button, $link-back-full)
$secondary-gradient: linear-gradient(40deg, $link-back-full, tint(#207ca8, 25%))
$success-gradient: linear-gradient(40deg, $success, tint(#00c800, 25%))
$allert-gradient: linear-gradient(40deg, $allert, tint(#912306, 25%))
$warning-gradient: linear-gradient(40deg, $warning, tint(#feeb93, 25%))
$long-text-gradient: linear-gradient(40deg, $long-text, tint(#29353B, 10%))

$brand-primary: #08415c
$testo: #29353B
$background: #ffffff

// utils
// mixin cross browser
=crossBrowser($property, $css)
	-webkit-#{$property} : $css
	-moz-#{$property} : $css
	-o-#{$property} : $css
	#{$property} : $css

// mixin transform
=transform($kind)
	+crossBrowser(transform, $kind)
=transform-origin($transform-origin)
	+crossBrowser(transform-origin, $transform-origin)
// mixin transition
=transition
	+crossBrowser(transition-delay, $default-transition-delay)
	+crossBrowser(transition-property, $default-transition-property)
	+crossBrowser(transition-duration, $default-transition-duration)
	+crossBrowser(transition-function, $default-transition-function)
=transition-property($transition-property)
	+crossBrowser(transition-property, $transition-property)
=transition-duration($transition-duration)
	+crossBrowser(transition-duration, $transition-duration)

// mixin text-shadow
=text-shadow($text-shadow-property)
	+crossBrowser(text-shadow, $text-shadow-property)
// border-radius
=border-radius($border-property)
	+crossBrowser(border-radius, $border-property)
=box-shadow($box-shadow-property...)
	+crossBrowser(box-shadow,  $box-shadow-property)






// clearfix

=clearfix
	&::before, &::after 
		content: ""
		display: table
	&::after 
		clear: both
    
// //color
// /// Slightly lighten a color
// /// @access public
// /// @param {Color} $color - color to tint
// /// @param {Number} $percentage - percentage of `$color` in returned color
// /// @return {Color}
// @function tint($color, $percentage) 
// 	@return mix(white, $color, $percentage)


// /// Slightly darken a color
// /// @access public
// /// @param {Color} $color - color to shade
// /// @param {Number} $percentage - percentage of `$color` in returned color
// /// @return {Color}
// @function shade($color, $percentage) 
// 	@return mix(black, $color, $percentage)
