.blog {
    padding: $padding-base;
    padding-top: 80px;
    .blog_section_index {
        @extend %base_grids;
        align-items: stretch;
        @include respond-to(screen-lg) {
            padding: 0 12rem;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        }
        @include respond-to(screen-xl) {
            padding: 0 15rem;
            grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
        }
    }
    .pagination {
        grid-column: 1 / -1;
    }
    &.blog__index article {
        overflow: hidden;
        padding-bottom: .3rem;
        position: relative;
        @extend %neumorph__light;
        grid-column: 1 / -1;

        @include respond-to(screen-sm) {
            grid-column: span 4;
        }
        @include respond-to(screen-lg) {
            grid-column: span 1;
        }
        h2 {
            margin: 0;
            padding-left: 10px;
            padding-bottom: 0;
        }
        .author {
            color: darken($back-full-text, 40%);
            font-size: .9rem;
            margin-bottom: 0;
            padding: 5px 10px;
            .date {
                float: right;
            }
        }
    }
    &.blog__article {
        @extend %base_grids;
        #main_article {
            grid-column: 1 / -1;
        }
        @include respond-to(screen-sm) {
            grid-template-columns: 2rem auto 2rem;
        }
        @include respond-to(screen-lg) {
            grid-template-columns: 8rem auto 8rem;
        }
        #main_article {
            display: grid;
            @include respond-to(screen-sm) {
                grid-template-columns: (15% auto 15%);
                grid-column: 2 / -2;
            }
        }
    }
    .blog_header {
        grid-column: 1 / -1;
        ul {
            li {
                display: inline-block;
            }
            &.article__categories {
                margin: 0;
                padding-top: 1rem;
                li {
                    padding-right: 10px;
                    &:first-child {
                        padding-left: 0px;
                        border-left: 0;
                        a {
                            border: none;
                            padding-left: 0;
                        }
                    }
                }
                li a {
                    border-left: 1px solid;
                    padding-left: 10px;
                    text-transform: uppercase;
                    font-weight: 800;
                }
            }     
        } 
        h1 {
            margin: 0;
            padding: 0;
        }
    }
}