.site-header
	//+box-shadow(0 0 20px rgba($long-text, $alpha))
	background: rgba($back-full-text, 0.3)
	height: 60px
	+transition
	padding: 5px 0
	// &.header-scroll
	// 	height: 80px
	// 	background: rgba($back-full-text, 1)
	border-bottom: 1px solid $back-link-button
	@media screen and (min-width: $screen-sm)
		padding: 10px 0
		height: 70px
		// background: $back-full-text
		position: fixed
		top: 0
		width: 100%
		z-index: 1000
		&:after
			content: " "
			display: table
			clear: both
	@media screen and (min-width: $screen-md)
		padding: 15px 0
		height: 80px
	@media screen and (min-width: $screen-lg)
		padding: 20px 0
		height: 100px
	// &:hover
	// 	background: rgba($back-full-text, 1)
	&.header_scroll
		background: rgba($back-full-text, 1)
		+box-shadow(0 0 20px rgba($long-text, $alpha))
		border-bottom: 1px solid $back-link-button
		// @media screen and (min-width: $screen-sm)
		// 	// height: 40px
		// 	padding-top: 10px
		// 	padding-bottom: 10px
		// 	.site-nav .nav-container
		// 		.nav_bar
		// 			a
		// 				line-height: 19px
		// 				.grigo-icons
		// 					font-size: 1rem
		// 					line-height: 19px
		// 			&:hover
		// 				&::after
		// 					width: 0	

		// @media screen and (min-width: $screen-md)
		// 	// height: 50px
		// 	padding-top: 10px
		// 	padding-bottom: 10px
		// 	.site-nav .nav-container
		// 		.nav_bar
		// 			a
		// 				line-height: 29px
		// 			.nav_bar_text
		// 				height: 0
		// 				font-size: 0
		// @media screen and (min-width: $screen-lg)
		// 	// height: 60px
		// 	padding-top: 10px
		// 	padding-bottom: 10px
		// 	.site-nav .nav-container
		// 		.nav_bar
		// 			a
		// 				line-height: 39px
		// 				.grigo-icons
		// 					font-size: 1.4rem
		// 					line-height: 39px
.opened
	.site-header
		background: rgba($back-full-text, 1)