.site-header
	position: fixed
	top: 0
	width: 100%
	z-index: 2
	.head-wrapper
		height: 100%
	.site-nav
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		height: 100%
		.logo
			+transition
			+susy-use($susy-mobile)
				width: span(4)
				padding: 0
				height: 100%
				// background: $back-full-text
			@media screen and (max-width: $screen-sm - 1) and (orientation: landscape)
				max-height: 50px
			@media screen and (max-width: $screen-xs - 1)
				z-index: 9999
			@media screen and (min-width: $screen-sm)
				+susy-use($susy-tablet)
					padding: 0 gutter()
			@media screen and (min-width: $screen-md)
				+susy-use($susy-laptop)
					padding: 0 gutter() / 2 
			@media screen and (min-width: $screen-lg)
				+susy-use($susy-large)
					padding: 0 span(1 wide)

			img
				margin: 0 auto
				display: block
				width: auto
				height: 100%

			@media screen and (min-width: $screen-sm)
				flex: 0 0 auto
				width: auto
				margin-right: auto
				img
					margin: 0
					width: auto

		.nav-container
			display: flex
			width: 100%
			border-top: 1px solid $back-link-button
			position: fixed
			bottom: 0
			height: 50px
			z-index: 1000
			background: $back-full-text
			left: 0 
			flex: 1 1 span(2 narrow of 4 narrow)
			@media screen and (min-width: $screen-sm)
				+susy-use($susy-tablet)
					flex: 0 0 span(4)
					//padding: gutter() /2 0
				position: relative
				border-top: none
				background: none
				height: 100%
			@media screen and (min-width: $screen-md)
				height: 100%
				+susy-use($susy-laptop)
					flex: 0 0 span(4 wide of 12 wide)
			@media screen and (min-width: $screen-lg)
				height: 100%
				+susy-use($susy-large)
					flex: 0 0 span(6)
					//padding: gutter() /2 span(1)
			.nav_bar
				text-align: center
				color: $long-text
				display: block
				width: 100%
				height: 100%
				font-size: 1.85rem
				@media screen and (min-width: $screen-sm)
					font-size: 1rem
					+susy-use($susy-tablet)
						width: span(2 of 4)
						padding: 0 gutter(of 4) / 2
						&:first-child
							padding-left: gutter(of 4)
						&:last-child
							padding-right: gutter(of 4)
					&::after
						content: ''
						display: block
						width: 0
						height: 1px
						background-color: $back-link-button
						+transition-property(width)
						+transition-duration(0.2s)
					&:hover
						&::after
							width: 100%	
				@media screen and (min-width: $screen-md)
					+susy-use($susy-laptop)
						width: span(2 narrow of 4 narrow)
						padding-right: gutter( of 4) / 2
						padding-left: gutter( of 4) / 2
						&:first-child
							padding-left: gutter(of 4) / 2
						&:last-child
							padding-right: gutter(of 4) / 2
				@media screen and (min-width: $screen-lg)
					+susy-use($susy-large)
						padding-left: gutter(of 4)
						padding-right: 0
						&:first-child
							padding-left: gutter(of 4)
							padding-right: 0
						&:last-child
							padding-left: gutter(of 4) 
							padding-right: 0
				&:last-child
					border-left: 1px solid $back-link-button
					@media screen and (min-width: $screen-sm)
						border: none				

				a, button
					color: $long-text
					// background: $back-full-text
					display: block
					margin: 0
					padding: 0
					//line-height: 2
					width: 100%
					+transition
					@media screen and (min-width: $screen-sm)
						//line-height: 1
					@media screen and (min-width: $screen-lg)
						padding-bottom: 5px

					&:hover, &:focus, &:active
						color: $back-link-button
						cursor: pointer

				.nav_bar_text
					+transition
					display: none
					@media screen and (min-width: $screen-md)
						display: block
						padding: 0 0.25rem
						letter-spacing: 0.05rem
						line-height: 20px
						font-size: .8rem
					@media screen and (min-width: $screen-lg)
						line-height: 20px
						font-size: 1rem

				.grigo-icons
					line-height: 49px
					+transition
					@media screen and (min-width: $screen-sm)
						font-size: 1.5rem
					@media screen and (min-width: $screen-md)
						line-height: 35px
						font-size: 1rem
					@media screen and (min-width: $screen-lg)
						line-height: 30px
						font-size: 1.5rem


	// &.header-scroll
	// 	.site-nav
	// 		.logo
	// 			+susy-use($susy-mobile)
	// 			padding: gutter() / 4 0
	// 			@media screen and (min-width: $screen-sm)
	// 				+susy-use($susy-tablet)
	// 					padding: gutter() / 2 gutter()
	// 			@media screen and (min-width: $screen-md)
	// 				+susy-use($susy-laptop)
	// 					padding: gutter() / 2 
	// 			@media screen and (min-width: $screen-lg)
	// 				+susy-use($susy-large)
	// 					padding: gutter() /2 span(1 wide)

//switcher tra i due menu
.switch-container 
	position: relative
	padding: 10px
	.switch
		width: 80px
		height: 35px
		+border-radius(2rem)
		border: 2px solid #dedede
		+box-shadow(inset 0 0 10px rgba(0, 0, 0, .7))
	.selector-switch
		display: block
		position: absolute
		width: 40px
		height: 40px
		+border-radius(50%)
		background: $secondary-gradient
		top: 7.5px
		left: 0
		border: 4px solid #dedede
		+box-shadow(-3px 0 10px 0 rgba(0, 0, 0, .3))
		+transition()
		+transform(rotate(90deg))
		&:before
			display: block
			font-family: $grigo-icons
			content: "\e911"
			font-size: 30px
			line-height: 35px
			text-align: center
			//padding: 9px 1px
			+transform-origin(50%)
			color: #fff
			+transition()

.switching
	.selector-switch
		left: 60px
		+transform(rotate(-90deg))
		+box-shadow( 3px 0 10px 0 rgba(0, 0, 0, .3))

.label-swich, .switch-container
	flex: 1 1 33%
	margin: 5px
.container-selector
	padding: 5px
	display: flex
	width: 300px
	@media screen and (min-width: $screen-sm)
		width: 400px
	+clearfix
	+box-shadow( 0 1px $long-text, 0 2px $link-back-full) 
.label-swich
	line-height: 55px
	font-weight: 700
	font-family: $h-font-family
	text-align: center
.container-selector
	cursor: pointer



//gestione lista prodotti 
.nav-list
	width: 0
	position: fixed
	bottom: 50px
	right: -1px
	top: 60px
	overflow: hidden
	z-index: 2
	+transition
	border-left: 1px solid $long-text
	background: $back-full-text
	@media screen and (min-width: $screen-sm)
		font-size: .8rem
		bottom: 0
		top: 70px
	@media screen and (min-width: $screen-md)
		top: 80px
	@media screen and (min-width: $screen-lg)
		top: 100px
	.scroller
		height: 100%
	.scroller
		position: absolute
		width: 300px
		@media screen and (min-width: $screen-sm)
			width: 400px
		+transition
		a
			display: block
			padding: 1rem 1.5rem
			color: $long-text
			font-weight: bold
			border-bottom: 1px solid tint($long-text, 80%)
			+transition()
			&:hover, &:focus
				color: $back-full-text
				background: $back-link-button
			&:active, &:focus
				outline: none
			&.active
				background: $primary-gradient
				color: $back-full-text
				text-shadow: 1px 1px 1px $long-text
		&.menu-kit
			left: 0
		&.menu-prodotti
			left: 300px
			@media screen and (min-width: $screen-sm)
				left: 400px
			ul
				padding-bottom: 5rem
	&.switching

		.menu-kit
			left: -300px
			@media screen and (min-width: $screen-sm)
				left: -400px
		.menu-prodotti
			left: 0px
	//contenitore del menu a scomparsa
	nav 
		width: 615px
		position: absolute
		overflow: hidden
		height: 100%
		z-index: 2
		@media screen and (min-width: $screen-sm)
			width: 815px

#container
	position: fixed
	background: rgba(0, 0, 0, 1)
	opacity: 0
	+transition
	top: 0
	right: 0
	bottom: 0
	left: 100%
	z-index: 1
.opened
	overflow-y: hidden
	.nav-list
		width: 300px
		@media screen and (min-width: $screen-sm)
			width: 400px
	#container
		opacity: .7
		overflow: hidden
		left: 0
#scroll-sobstitute
	width: 100%
	height: 100%
	overflow-y: scroll