.prodotti_index {
  padding-top: 3rem;

  .prodotti_grids {
    display: grid;
    grid-column: 1 / -1;
    // grid-auto-rows: minmax(150px, auto);
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    .orizontal-col {
      grid-column-end: span 2;
    }

    .vertical-col {
      grid-row-end: span 2;
    }

    .col {			
      @extend %neumorph__light;
      @include transition;
      min-height: 300px;
      overflow: hidden;
      position: relative;

      img {
        @extend %img_cover;
        @extend %center_img;
      }

      a {
        @include transition;
        background: rgba($primary-color, 0.9);
        bottom: 0;
        color: $back-full-text;
        display: block;
        left: 100%;
        padding: 10px;
        position: absolute;
        width: 100%;

        h3 {
          font-size: 1rem;
          margin: 0;
        }

        p {
          font-size: 0.8rem;
          // text-overflow: ellipsis;
          // white-space: nowrap;
          // overflow: hidden;
          margin: 0;

          span {
            @include transform(rotate(-90deg));
          }

          &:last-child {
            text-align: right;
          }
        }
      }

      &:hover a {
        left: 0;
      }
      @media screen and (max-width: $screen-sm - 1px) {
        grid-column: 1 / -1;
        min-height: 280px;
      }
    }
  }
}

