<div class="selections form-col animated-label" id="misura"  name="state">
    <label class="custom-select" for="misura">
        <select name="misura" >
            <option value="">Seleziona misura</option>
            <option value="70">70 cm x 100 cm</option>
            <option value="100">100cm x 150c m</option>
            <option value="150">150cm x 225 cm</option>
        </select>
   </label>
   {% comment %}<label for="tessuto">Seleziona Supporto</label>{% endcomment %}
   <span>errore: Seleziona un tessuto</span>
</div>
<div class="selections form-col animated-label" id="finitura"  name="state">
    <label class="custom-select" for="finitura">
        <select name="finitura" >
            <option value="">Seleziona finitura</option>
            <option value="senza">Senza frangia</option>
            <option value="oro">Frangia Oro</option>
            <option value="argento">Frangia Argento</option>
        </select>
   </label>
   {% comment %}<label for="tessuto">Seleziona Supporto</label>{% endcomment %}
   <span>errore: Seleziona un tessuto</span>
</div>

<div class="form-col animated-label" id="quantita">
    <input type="number" name="quantita" placeholder="100" aria-label="quantita">
    <label for="quantita">Quantit&agrave;</label>
    <span>errore: quantit&agrave;</span>
</div>