{% if page.preventivo == true %}
<div class="info-form">
	<button class="btn btn-large btn-default btn-collapse" data-toggle="collapse" data-target="#info">Informazioni</button>
	<div id="info" class="collapse">
		<p>Compila tutti i campi per calcolare il preventivo, in caso avesse bisogno di aiuto non esiti a contattarci. Puoi anche solo mandarci un messaggio compilando solo i campi obbligatori, in etrambe i casi risponderemo il prima possibile, per confermarle il preventivo o rispondere alle sue richieste.</p>
		<h5>spedizioni</h5>
		<p>
			Spdizioni in tutta Europa con DHL o GLS, pagamento con PayPal, Satyspay, Bonifico Bancario, Contrassegno
		</p>
	</div>
</div>
{% endif %}