<div class="modelli form-col full-form-grid" id="modello">
    <a href="#vela" role="button" class="radio__selection" data-options="non personalizzata" data-selection="modello">
        <img src="/assets/images/maniche_a_vento/standard.svg" alt="Seleziona Vela">
        Manica Standard
    </a>
    <a href="#goccia" role="button" class="radio__selection" data-options="personalizzata" data-selection="modello">
        <img src="/assets/images/maniche_a_vento/personalizzata.svg" alt="Seleziona Gioccia">
        Manica Personalizzata
    </a>
<!--nascosto selezione modello-->
    <select name="modello" class="hide">
        <option value=""></option>
        <option value="non personalizzata">Manica Standard</option>
        <option value="personalizzata">Manica Personalizzata</option>
    </select>
</div>
<div class="selections form-col animated-label" id="tessuto"  name="state">
	<label class="custom-select" for="tessuto">
	   	<select name="tessuto">
	   		<option value="">Seleziona un tessuto</option>
	   		<option value="poliestere">Tessuto di Poliestere</option>
	   		<option value="acrilico">Tessuto Acrilico</option>
	   	</select>
   </label>
   {% comment %}<label for="tessuto">Seleziona Supporto</label>{% endcomment %}
   <span>errore: Seleziona un tessuto</span>
</div>
<div class="selections form-col animated-label" id="finitura"  name="state">
    <label class="custom-select" for="finitura">
        <select name="finitura">
            <option value="">Seleziona un finitura</option>
            <option value="cerchio">Cerchio</option>
            <option value="Velcro">Velcro</option>
        </select>
   </label>
   {% comment %}<label for="tessuto">Seleziona Supporto</label>{% endcomment %}
   <span>errore: Seleziona finitura</span>
</div>
<div class="form-col animated-label" id="quantita">
    <input type="number" name="quantita" placeholder="100" aria-label="quantita">
    <label for="quantita">Quantit&agrave;</label>
    <span>errore: quantit&agrave;</span>
</div>