<!--
<div class="selections form-col animated-label" id="select"  name="state">
	<label class="custom-select" for="tessuto">
	   	<select name="tessuto" id="tessuto">
	   		<option value="">Seleziona un tessuto</option>
	   		<option value="sottomoto">Tappeto Sottomoto</option>
	   		<option value="asciugapasso">Tappeto Asciugapasso</option>
	   	</select>
   </label>
   {% comment %}<label for="tessuto">Seleziona Supporto</label>{% endcomment %}
   <span>errore: Seleziona un tessuto</span>
</div>
-->
<div class="form-col animated-label" id="altezza">
    <input type="number" name="altezza" placeholder="100" aria-label="larghezza">
    <label for="altezza">Altezza in cm</label>
    <span>errore: altezza</span>
</div>

<div class="form-col animated-label" id="larghezza">
    <input type="number" name="larghezza" placeholder="100" aria-label="larghezza">
    <label for="larghezza">Larghezza in cm</label>
    <span>errore: larghezza</span>
</div>
<div class="form-col animated-label" id="quantita">
    <input type="number" name="quantita" placeholder="100" aria-label="quantita">
    <label for="quantita">Quantit&agrave;</label>
    <span>errore: quantit&agrave;</span>
</div>