+critical(false)
    input, button, submit
        border: none
    
    .btn, .nav_bar a.btn
        text-transform: uppercase
        font-family: $h-font-family
        display: inline-block
        +border-radius(15px)
        +transition-property(all)
        +transition-duration(0.3s)
        +fluid-type($min_width, $max_width, $min_font, $min_font)

        border: none
        font-weight: 900
        background: $default-gradient
        margin: 0.5rem 0
        padding: 0.7rem 1rem

        +box-shadow($shadow_buttons $back-link-button)

        &:active
            background: $default-gradient

            +box-shadow(inset 0 0.2rem 0.2rem rgba($back-link-button, 0.5))

            outline: none
            color: $back-full-text

        &:focus
            outline: none
        
        &.btn-default
            background: $default-gradient
            color: $long-text
            +box-shadow($shadow_buttons shade($back-full-text, 25%))

        &.btn-primary
            background: $primary-gradient
            // background: $link-back-full
            color: $back-full-text

            +box-shadow($shadow_buttons shade($back-link-button, 25%))

            &:active
                +box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5))

        &.btn-secondary
            background: $secondary-gradient
            color: $back-full-text

            +box-shadow($shadow_buttons shade($link-back-full, 25%))

            &:active
                +box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5))

                background: $secondary-gradient

            &:hover
                color: $back-full-text
                background: $secondary-gradient

            &:focus
                background: $secondary-gradient

        &.btn-success
            background: $success-gradient
            color: $back-full-text

            +box-shadow($shadow_buttons shade($success, 25%))

            &:active
                +box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5))

        &.btn-allert
            background: $allert
            color: $back-full-text

            +box-shadow($shadow_buttons shade($allert, 25%))

            &:active
                +box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5))

        &.btn-warning
            background: $warning
            color: shade($warning, 50%)

            +box-shadow($shadow_buttons shade($warning, 25%))

            &:active
                +box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5))

                color: shade($warning, 50%)

        &.btn-dark
            background: $long-text
            color: $back-full-text

            +box-shadow($shadow_buttons shade($long-text, 25%))

            &:active
                +box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.125))

        &.btn-cta
            padding: 1rem
            text-transform: uppercase
            display: inline-block

        &.btn-large
            display: block
            width: 100%
            padding: 0.8rem

        &.btn-form
            margin: auto
            margin-top: 1rem

        &.standard
            &:after
                content: "INVIA"

        &.onclick
            margin: auto
            background: none
            border: 3px solid tint($long-text, 90%)
            border-left-color: $link-back-full
            animation: rotating 1.5s linear 0.3s infinite 
            +box-shadow(0 0 0)
            width: 57px
            height: 57px
            +border-radius(3rem)
            &:after
                content: ""

        &.validate
            font-family: $grigo-icons
            background: $success-gradient

            &:after
                content: ""

        &.error
            background: $allert-gradient

            &:after
                content: "ERRORE"

    footer .btn.btn-form
        &.validate, &.error
            color: $back-full-text

    @keyframes rotating
        from
            transform: rotate(0deg)

        to
            transform: rotate(360deg)
    @-webkit-keyframes redrot
        0%
            border-radius: 15px
        25%
            
            border-radius: 50%
        100%
            border: 3px solid tint($long-text, 90%)
            border-left-color: $link-back-full
    // @-moz-keyframes redrot
        
    // @-ms-keyframes redrot
        
    // @-o-keyframes redrot
        
    // @keyframes redrot
       
    