input, button, submit
  border: none
.btn, .nav_bar a.btn
  text-transform: uppercase
  font-family: $h-font-family
  +border-radius(2rem)
  +transition-property(width)
  +transition-duration(.3s)
  +fluid-type($min_width, $max_width, $min_font, $min_font)
  border: none
  font-weight: 700
  background: $default-gradient
  margin: 0.5rem 0
  padding: .7rem 1rem
  +box-shadow(0 0 0.1rem #999)
  &:hover
  &:active
    background: $default-gradient
    +box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5))
    outline: none
  &:focus
    outline: none
  &.btn-primary
    background: $primary-gradient
    color: $back-full-text
    +box-shadow(0 0 0.1rem shade($back-link-button, 25%))
    &:active
      +box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5))
  &.btn-secondary
    background: $secondary-gradient
    color: $back-full-text
    +box-shadow(0 0 0.1rem shade($link-back-full, 25%))
    &:active
      +box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5))
      background: $secondary-gradient
    &:hover
      color: $back-full-text
      background: $secondary-gradient
    &:focus
      background: $secondary-gradient
  &.btn-success
    background: $success-gradient
    color: $back-full-text
    +box-shadow(0 0 0.1rem shade($success, 25%))
    &:active
      +box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5))
  &.btn-allert
    background: $allert-gradient
    color: $back-full-text
    +box-shadow(0 0 0.1rem shade($allert, 25%))
    &:active
      +box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5))
  &.btn-warning
    background: $warning-gradient
    color: shade($warning, 50%)
    +box-shadow(0 0 0.1rem shade($warning, 25%))
    &:active
      +box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5))
      color: shade($warning, 50%)
  &.btn-dark
    background: $long-text-gradient
    color: $back-full-text
    +box-shadow(0 0 0.1rem shade($long-text, 25%))
    &:active
      +box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.125))
  &.btn-cta
    padding: 1rem
    text-transform: uppercase
    display: inline-block
  
  &.btn-large
    display: block
    width: 100%
    padding: .8rem  
  &.btn-form
    margin: auto
    margin-top: 1rem
    &.standard
      &:after
        content: "INVIA"
    &.onclick
      width: 57px
      height: 57px
      margin: auto
      background: none
      border: 3px solid tint($long-text, 90%)
      border-left-color: $link-back-full
      animation: rotating 2s 0.25s linear infinite 
      &:after
        content: ""
    &.validate
      font-family: $grigo-icons
      background: $success-gradient
      &:after
        content: "\e915"
    &.error
      background: $allert-gradient
      &:after
        content: "ERRORE"

footer .btn.btn-form
  &.validate, &.error
    color: $back-full-text



@keyframes rotating 
  from 
    transform: rotate(0deg)
  to 
    transform: rotate(360deg)
