<footer class="site-footer h-card">
  <data class="u-url" href="{{site.url}}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
              <h4>
              ombrellificio grigolini
              </h4>
              <span>di Grigolini Marcello</span>
              <p>Stampa digitale su tessuto</p>
            </li>
            <li><address>Loc. Sant'Antonio <br> 37031 Illasi (VR)</address></li>
            <li><p>P.I.: 01628380238</p></li>
            <li><span class="grigo-icons grigo-phone"></span><span>+39 045 7834054</span></li>
            <li><span class="grigo-icons grigo-fax"></span><span>+39 045 6520415</span></li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}" title="email"><span class="grigo-icons grigo-mail"></span><span>{{ site.email }}</span></a></li>
            <li class="social-links">
              <a href="https://twitter.com/grigoprint?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false"><span class="grigo-icons grigo-twitter"></span></a>
              <a href="https://www.facebook.com/grigoprint-115494546515332/">
                <span class="grigo-icons grigo-facebook"></span>
              </a>
              <a href="https://www.instagram.com/grigoprint/">
                <span class="grigo-icons grigo-instagram"></span>
              </a>
            </li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <h4>Esplora</h4>
        <div class="link_footer">
        <ul>
        <li><a href="{{site.url}}" title="Home page Grigoprint">Home</a></li>
        <li><a href="{{site.url}}{% link contatti.html %}" title="Pagina Contatti">Contatti</a></li>
        </ul>
        <h5>prodotti</h5>
        <ul>
          {% for node in site.prodotti %}
            {% unless node.exclude %}
              {% if page.url == node.url %}
                <li><a class="page-link active" title="{{ node.description | truncate: 40 }}" href="{{ node.url }}">
                {{ node.title }}
                </a>
              </li>
              {% else %}
               <li><a href="{{node.url}}" title="{{ node.description | truncate: 40 }}">{{node.title}}</a></li>
              {% endif %}
            {% endunless %}
          {% endfor %}
        </ul>
        </div>
      </div>

      <div class="footer-col footer-col-3">
        <h4>Contattaci</h4>
        {%- include form.html -%}
      </div>
    </div>

  </div>

</footer>
