<div class="container__modal" id="modal">
	<div class="container__box card card__light">
		<div class="content__warp">
			<button class="close__modal" onclick="document.getElementById('modal').classList.add('close')">
				<svg width="100%" height="100%" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
				    <g transform="matrix(1,0,0,1,-1066,0)">
				        <rect id="closed" x="1066" y="0" width="32" height="32" style="fill:none;"/>
				        <g id="closed1" serif:id="closed">
				            <g transform="matrix(1.01015,0,0,1.01015,-10.9851,-0.162441)">
				                <path d="M1082,13.03L1088.93,6.101L1091.9,9.07L1084.97,16L1091.9,22.93L1088.93,25.899L1082,18.97L1075.07,25.899L1072.1,22.93L1079.03,16L1072.1,9.07L1075.07,6.101L1082,13.03Z"/>
				            </g>
				        </g>
				    </g>
				</svg>
			</button>
			<h2>attenzione</h2>
			<p>Causa guasto alla linee telefoniche non siamo raggiungibili temporanemente al numero fisso.</p>
			<p>Non esitate a contattarci ai segueti numeri di telefono:</p>
			<p><span><strong>Marcello: </strong>335 803 5347</span><br> <span><strong>Antonio: </strong>351 888 2958</span></p>	

			<p><a href="mailto:info@bandieregrigolini.it">info@bandieregrigolini.it</a></p>
			<p><em>Ci scusiamo per il disagio.</em></p>
		</div>
	</div>
</div>