<div class="prodotti_correlati">
	<h4 class="middle-title">prodotti correlati</h4>
		<ul class="row">
		{% for i in page.correlati %}
			{% for node in site.prodotti %}
		        {% if {{i}} == node.title %}
		        <li class="col-correlati">
		        	<a href="{{node.url}}" >
		        		<div class="img-wrapper">{% cloudinary onequater {{node.path_image}} %}</div>
		        		<h5>{{node.title}}</h5>
		        		<p>{{node.description}}</p>
		        	</a>
		        </li>
		        {% endif %}
		    {% endfor %}
		{% endfor %}
	</div>
</div>
