{% assign moreThanfour = false %}
{% for i in page.correlati %}
	{% if forloop.rindex0 >= 4 %}
		{% assign moreThanfour = true %}
	{% endif %}
{% endfor %}
<div class="prodotti_correlati">
	<h4 class="middle-title">Ti protrebbe interessare...</h4>
		{% if moreThanfour %}
			<ul class="correlati_content morethanfour">
		{% else %}
			<ul class="correlati_content">
		{% endif %}
		{% for i in page.correlati %}
			{% for node in site.prodotti %}
		        {% if {{i}} == node.title %}
		        <li class="col-correlati">
		        	<a href="{{site.url}}{{node.url}}" tile="{{ node.description | truncate: 50 }}">
		        		<div class="img-wrapper">
							{% picture interesse {{node.interesse}} --alt {{node.title}} %}</div>
		        		<h5>{{node.title}}</h5>
		        		<p>{{node.description}}</p>
		        	</a>
		        </li>
		        {% endif %}
		    {% endfor %}
		{% endfor %}
	</ul>
</div>
