input, button, submit {
    border: none;
}

.btn, .nav_bar a.btn {
    text-transform: uppercase;
    font-family: $h-font-family;
    display: inline-block;
    text-align: center;

    @extend %button_box;

    -webkit-transition-property: color, background, box-shadow, transform;
       -moz-transition-property: color, background, box-shadow, transform;
        -ms-transition-property: color, background, box-shadow, transform;
         -o-transition-property: color, background, box-shadow, transform;
            transition-property: color, background, box-shadow, transform;
    @include transition-duration(.3s);
    @include fluid-type($min_width, $max_width, $min_font, $min_font);

    border: none;
    font-weight: 900;
    background: $default-gradient;
    margin: 1rem 0 0.5rem 0;
    padding: 0.7rem 1rem;

    // +box-shadow($shadow_buttons $primary-color)

    &:active {
        background: $default-gradient;

        @include box-shadow(inset 0 0.2rem 0.2rem rgba($primary-color, 0.5));

        outline: none;
        color: $back-full-text;
    }

    &:focus {
        outline: none;
    }

    &.btn-default {
        background: $default-gradient;
        color: $long-text;

        // +box-shadow($shadow_buttons shade($back-full-text, 25%))
   
    }

    &.btn-primary {
        background: $primary-color;

        // background: $second-color
        color: $back-full-text;

        @include box-shadow($shadow_buttons rgba($primary-color, .7));
        &:hover {
            background: tint($primary-color, 10%);
        }

        &:active {
            @include box-shadow(inset 0 0.1rem 0.1rem rgba($primary-color, 0.5));
        }
    }

    &.btn-secondary {
        background: $second-color;
        color: $primary-color;
        @include box-shadow($shadow_buttons rgba($second-color, .7));

        // +box-shadow($shadow_buttons shade($second-color, 25%))

        &:active {
            @include box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5));

            background: $secondary-gradient;
        }

        &:hover {
            color: $back-full-text;
            background: darken($second-color, 5%);
            @include box-shadow(0 25px 30px -15px rgba($second-color, .8));
            -webkit-transform: translateY(-5px);
               -moz-transform: translateY(-5px);
                -ms-transform: translateY(-5px);
                 -o-transform: translateY(-5px);
                    transform: translateY(-5px);
        }

        &:focus {
            background: darken($second-color, 5%);
            @include box-shadow(0 25px 30px -15px rgba($second-color, .8));
            -webkit-transform: translateY(-5px);
               -moz-transform: translateY(-5px);
                -ms-transform: translateY(-5px);
                 -o-transform: translateY(-5px);
                    transform: translateY(-5px);
        }
    }

    &.btn-success {
        background: $success-gradient;
        color: $back-full-text;

        // +box-shadow($shadow_buttons shade($success, 25%))

        &:active {
            @include box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5));
        }
    }

    &.btn-allert {
        background: $allert;
        color: $back-full-text;

        // +box-shadow($shadow_buttons shade($allert, 25%))

        &:active {
            @include box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5));
        }
    }

    &.btn-warning {
        background: $warning;
        color: shade($warning, 50%);

        // +box-shadow($shadow_buttons shade($warning, 25%))

        &:active {
            @include box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5));

            color: shade($warning, 50%);
        }
    }

    &.btn-dark {
        background: $long-text;
        color: $back-full-text;

        // +box-shadow($shadow_buttons shade($long-text, 25%))

        &:active {
            @include box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.125));
        }
    }

    &.btn-cta {
        padding: 1rem;
        text-transform: uppercase;
        display: inline-block;
    }

    &.btn-large {
        display: block;
        width: 100%;
        padding: 1rem 0.8rem;
    }

    &.btn-form {
        margin: auto;
        margin-top: 1rem;
    }

    &.standard {
        &:after {
            content: "INVIA";
        }
    }

    &.onclick { 
        padding: .65rem .6rem;
        &:after {
            content: "";
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            border: 3px solid rgba($back-full-text, .5);
            border-radius: 50%;
            box-sizing: border-box;
            border-bottom-color: $back-full-text;
            margin: auto;
            animation: rotating 1s infinite;
        }
    }

    &.validate, &.onclick.validate {
        -webkit-transform: rotate(0);
           -moz-transform: rotate(0);
            -ms-transform: rotate(0);
             -o-transform: rotate(0);
                transform: rotate(0);
        background: $success;
        @include box-shadow($shadow_buttons rgba($success, .7));
        padding: .4rem .8rem;
        &:after {
            content: "";
        }
    }

    &.error, &.onclick.error {
        -webkit-transform: rotate(0);
           -moz-transform: rotate(0);
            -ms-transform: rotate(0);
             -o-transform: rotate(0);
                transform: rotate(0);
        background: $allert;
        @include box-shadow($shadow_buttons rgba($allert, .7));
        padding: 1rem .8rem;
        &:after {
            content: "ERRORE";
            animation: none;
            width: auto;
            height: auto;
            border: none;
        }
    }

    &.btn-outline {
        background: none;
        border: 2px solid tint($long-text, 50%);
        padding: calc(1rem - 2px) 0.8rem;
        margin: 1rem 0 0;

        @include box-shadow(none);

        color: tint($long-text, 30%);
        text-align: center;

        &.btn-outline__second {
            border-color: $primary-color;
            color: $primary-color;
        }
    }
    &#btn-send, &#btn-send.onclick {
        svg {
            display: none;
            opacity: 0;
            width: 2rem;
            height: 2rem;
            @include transition
            g {
                fill: $back-full-text;
            }
        }
        &.validate {
            svg {
                display: block;
                opacity: 1;
                margin: auto;
            }
        }
    }
    
}

footer .btn.btn-form {
    &.validate, &.error {
        color: $back-full-text;
    }
}