input, button, submit {
    border: none;
}

.btn, .nav_bar a.btn {
    text-transform: uppercase;
    font-family: $h-font-family;
    display: inline-block;
    text-align: center;

    @extend %button_box;

    @include transition-property(all);
    @include transition-duration(0.3s);
    @include fluid-type($min_width, $max_width, $min_font, $min_font);

    border: none;
    font-weight: 900;
    background: $default-gradient;
    margin: 1rem 0 0.5rem 0;
    padding: 0.7rem 1rem;

    // +box-shadow($shadow_buttons $primary-color)

    &:active {
        background: $default-gradient;

        @include box-shadow(inset 0 0.2rem 0.2rem rgba($primary-color, 0.5));

        outline: none;
        color: $back-full-text;
    }

    &:focus {
        outline: none;
    }

    &.btn-default {
        background: $default-gradient;
        color: $long-text;

        // +box-shadow($shadow_buttons shade($back-full-text, 25%))
   
    }

    &.btn-primary {
        background: $primary-color;

        // background: $second-color
        color: $back-full-text;

        @include box-shadow($shadow_buttons rgba($primary-color, .7));
        &:hover {
            background: tint($primary-color, 10%);
        }

        &:active {
            @include box-shadow(inset 0 0.1rem 0.1rem rgba($primary-color, 0.5));
        }
    }

    &.btn-secondary {
        background: $second-color;
        color: $primary-color;
        @include box-shadow($shadow_buttons rgba($second-color, .7));

        // +box-shadow($shadow_buttons shade($second-color, 25%))

        &:active {
            @include box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5));

            background: $secondary-gradient;
        }

        &:hover {
            color: $back-full-text;
            background: $secondary-gradient;
        }

        &:focus {
            background: $secondary-gradient;
        }
    }

    &.btn-success {
        background: $success-gradient;
        color: $back-full-text;

        // +box-shadow($shadow_buttons shade($success, 25%))

        &:active {
            @include box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5));
        }
    }

    &.btn-allert {
        background: $allert;
        color: $back-full-text;

        // +box-shadow($shadow_buttons shade($allert, 25%))

        &:active {
            @include box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5));
        }
    }

    &.btn-warning {
        background: $warning;
        color: shade($warning, 50%);

        // +box-shadow($shadow_buttons shade($warning, 25%))

        &:active {
            @include box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5));

            color: shade($warning, 50%);
        }
    }

    &.btn-dark {
        background: $long-text;
        color: $back-full-text;

        // +box-shadow($shadow_buttons shade($long-text, 25%))

        &:active {
            @include box-shadow(inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.125));
        }
    }

    &.btn-cta {
        padding: 1rem;
        text-transform: uppercase;
        display: inline-block;
    }

    &.btn-large {
        display: block;
        width: 100%;
        padding: 1rem 0.8rem;
    }

    &.btn-form {
        margin: auto;
        margin-top: 1rem;
    }

    &.standard {
        &:after {
            content: "INVIA";
        }
    }

    &.onclick {
        margin: auto;
        background: none;
        border: 3px solid tint($long-text, 90%);
        border-left-color: $second-color;
        animation: rotating 1.5s linear 0.3s infinite;

        @include box-shadow(0 0 0);

        width: 57px;
        height: 57px;

        @include border-radius(3rem);

        &:after {
            content: "";
        }
    }

    &.validate {
        -webkit-transform: rotate(0);
           -moz-transform: rotate(0);
            -ms-transform: rotate(0);
             -o-transform: rotate(0);
                transform: rotate(0);
        font-family: $grigo-icons;
        background: $success;
        @include box-shadow($shadow_buttons rgba($success, .7));

        &:after {
            content: "";
        }
    }

    &.error {
        -webkit-transform: rotate(0);
           -moz-transform: rotate(0);
            -ms-transform: rotate(0);
             -o-transform: rotate(0);
                transform: rotate(0);
        background: $allert;
        @include box-shadow($shadow_buttons rgba($allert, .7));

        &:after {
            content: "ERRORE";
        }
    }

    &.btn-outline {
        background: none;
        border: 2px solid tint($long-text, 50%);
        padding: calc(1rem - 2px) 0.8rem;
        margin: 1rem 0 0;

        @include box-shadow(none);

        color: tint($long-text, 30%);
        text-align: center;

        &.btn-outline__second {
            border-color: $primary-color;
            color: $primary-color;
        }
    }
}

footer .btn.btn-form {
    &.validate, &.error {
        color: $back-full-text;
    }
}