.card {
    padding: 1rem;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        padding: 0;
        margin: 0 0 0.8rem 0;
        // background: $back-full-text;
    }

    &.card__primary {
        @extend %neumorph__primary;
    }

    &.card__light {
        @extend %neumorph__light;
    }
	&.card__errore, &.card__successo {
		@extend
		%neumorph__light;
		position: fixed;
		@extend %center_img;
		z-index: 5;
		width: 90%;
		@include respond-to(screen-sm) {
			width: 60%;
		}
		p {
			margin: 0;
		}	
		color: $back-full-text;
		opacity: 1;
		@include
		transition;
		&.hidden {
			opacity: 0;
			display: none;
		}
	}
	&.card__successo {
		background:
		rgba($success, .7);
		// display: none;
	}
	&.card__errore {
		background:
		rgba($allert, .7);
		// display: none;
	}
}
