ul.scroll-gallery {
	@extend %h-scroll;
	@extend %scroll-style;
	width: 100%;
	padding: 0;
	li {
		padding: 0;
		flex: 0 0 90%;
	}
}

.gallery-container {
	width: 100%;
	.splide__slide {
		max-height: 60vh;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	@include respond-to(screen-sm) {
		grid-column: 1 / 9;
	}
	@include respond-to(screen-md) {
		grid-column: 2 / -2;
	}
}