ul.scroll-gallery {
  @extend %h-scroll;
  @extend %scroll-style;
  padding: 0;
  width: 100%;

  li {
    flex: 0 0 90%;
    padding: 0;
  }
}

.gallery-container.swiper-container {
  height: 60vh;
  width: 100%;
  @include respond-to(screen-sm) {
    grid-column: 1 / 9;
  }
  @include respond-to(screen-md) {
    grid-column: 2 / -2;
  }

  img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $second-color;
  }
}

