* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//icons
.grigo-icons {
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    font-family: $grigo-icons;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    vertical-align: middle;
}

.grigo-contacts::before {
    content: "\e906";
}

.grigo-hamburger::before {
    content: "\e90c";
}

.grigo-account::before {
    content: "\e900";
}

.grigo-add-account::before {
    content: "\e901";
}

.grigo-delete::before {
    content: "\e908";
}

.grigo-modify::before {
    content: "\e90e";
}

.grigo-cart::before {
    content: "\e904";
}

.grigo-add-cart::before {
    content: "\e902";
}

.grigo-new::before {
    content: "\e910";
}

.grigo-duplicate::before {
    content: "\909";
}

.grigo-mail::before {
    content: "\e90d";
}

.grigo-phone::before {
    content: "\e911";
}

.grigo-pin::before {
    content: "\e912";
}

.grigo-close::before {
    content: "\e905";
}

.grigo-creditcard::before {
    content: "\e907";
}

.grigo-money::before {
    content: "\e90f";
}

.grigo-ship::before {
    content: "\e914";
}

.grigo-arrow::before {
    content: "\e903";
}

.grigo-quality::before {
    content: "\e913";
}

.grigo-fast::before {
    content: "\e90a";
}

.grigo-fax::before {
    content: "\e90b";
}

.grigo-validate::before {
    content: "\e915";
}

.grigo-facebook::before {
    content: "\ea90";
}

.grigo-instagram::before {
    content: "\ea92";
}

.grigo-twitter::before {
    content: "\ea96";
}

.grigo-pinterest::before {
    content: "\ead1";
}

.grigo-social::before {
    content: "\ea82";
}