---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "it" }}">

{%- include head.html -%}

<body id="add-class">

    <div id="scroll-sobstitute" class="scroll">
        <div class="nav-list" id="nav-commander">
            {%- include menu.html -%}
        </div>
        {%- include header.html -%}
        <div id="container">
        </div>
        <main class="page-content" id="page-content" aria-label="Content">
            <div class="image-title" id="{{page.title | replace: ' ', '-' | downcase}}">
            	{% for item in page.image %}
                	{%  picture slide {{item.path}} alt="{{item.alt}}" class="lazyload {{item.class}}" %}
                {% endfor %}
            </div>
            <div class="wrapper">
                <header class="head-blog" id="full-page-header">
                    <div class="title-container">
                    	<h1><span>{{page.title | replace: ' ', ' </span><span>'}}</span></h1>
                        <h6><span>{{page.description}}</span></h6>
                        <a data-scroll href="#scroller" class="btn btn-default scroll-signal" id="pls-scroll">
                           <span class="arrow"></span>
                        </a>
                    </div>  
                </header>
                {% if page.title == "Bandiere Personalizzate" %}
                    <article class="product-content alpha-bg" id="scroller">
                {% else %}
                    <article class="product-content " id="scroller">
                {% endif %}
                    {{ content }}
                </article>
            </div>
        {% if page.correlati%}
              <div class="wrapper">
              {%- include prodotti_correlati.html -%}
              </div>
              {% endif %}
        </main>
        {%- include footer.html -%}
        {%- include static_link.html -%}
    </div>

    {%- include js_end.html -%}
</body>

</html>
