<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "it" }}">

  {%- include head.html -%}

  <body id="add-class" >
    <div id="scroll-sobstitute" class="scroller">
    <div class="nav-list" id="nav-commander">
      {%- include menu.html -%}
    </div>
    {%- include header.html -%}
    <div id="container">
    </div>
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>
      {%- include footer.html -%}
      {%- include static_link.html -%}
       </div>

  <script src="{{'/assets/javascript/menu.js'}}"></script>
  </body>
</html>