{% raw %}
<?php session_start() ?>
{% endraw %}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "it" }}">

  {%- include head.html -%}

  <body>

    <div id="st-container" class="st-container">
      {%- include menu.html -%}
      <div class="st-pusher">
        <div class="st-content"  id="scroller">
         {%- include header.html -%}
          <div class="st-content-inner">
            <main class="page-content" aria-label="Content">
              {{ content }}
            </main>
            {%- include footer.html -%}
            {%- include static_link.html -%}
          </div>
        </div>
      </div>
    </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{'/assets/javascript/menu.js'}}"></script>
  </body>

</html>